<form *ngIf="createTemplate$ | async as createTemplate">
    <ng-container *ngFor="let property of createTemplate._templates.default.properties">
        <ng-container *ngIf="property.type=='text'">
            <label for="text">{{ property.prompt }}</label><br>
            <input type="text" placeholder="{{ property.placeholder }}" [disabled]="property.readOnly" id="text"><br>
        </ng-container>
        <ng-container *ngIf="property.type=='number'">
            <label for="number">{{ property.prompt }}</label><br>
            <input type="number" placeholder="{{ property.placeholder }}" [disabled]="property.readOnly" id="number"><br>
        </ng-container>
        <ng-container *ngIf="property.type=='select'">
            <label for="select">{{ property.prompt }}</label><br>
            <select id="select" [disabled]="property.readOnly">
                <option selected disabled>{{ property.placeholder }}</option>
                <option *ngFor="let option of property.options!.inline">{{ option.prompt }}</option>
            </select><br>
        </ng-container>
        <ng-container *ngIf="property.type=='checkbox'">
            <label for="checkbox">{{ property.prompt }}</label><br>
            <input type="checkbox" [disabled]="property.readOnly" id="checkbox"><br>
        </ng-container>
    </ng-container>
</form>